@inherits System.Web.Mvc.WebViewPage

@{
	ViewBag.Title = Resources.ChangePassword;
}


@section HeadArea {
	<link rel="Stylesheet" type="text/css" href="@Url.Action("OpenIdSelector", "Resource")" />
	<link rel="Stylesheet" type="text/css" href="@Url.Action("OpenIdAjaxTextBox", "Resource")" />
}

<h2>@Resources.ChangePassword</h2>
<p>
	@Resources.UseFormChangePassword 
</p>
<p>
	   @string.Format(Resources.MinNewPasswordLength, ViewBag.PasswordLength)
</p>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(true, Resources.PasswordChangeError)
	<div>
		<fieldset>
			<legend>@Resources.AccountInformation</legend>
			<p>
				<label for="currentPassword">@Resources.CurrentPassword</label>
				@Html.Password("currentPassword")
				@Html.ValidationMessage("currentPassword") 
			</p>
			<p>
				<label for="newPassword">@Resources.NewPassword</label>
				@Html.Password("newPassword")
				@Html.ValidationMessage("newPassword")
			</p>
			<p>
				<label for="confirmPassword">@Resources.ConfirmPassword</label>
				@Html.Password("confirmPassword")
				@Html.ValidationMessage("confirmPassword")
			</p>
			<p>
				<input type="submit" value="@Resources.ChangePassword" />
			</p>
		</fieldset>
	</div>
}
